.env
airflow_settings.yaml

__pycache__/
*.py[cod]
.venv/
venv/

.astro/standalone/
.astro/worktrees/
.astro/*.local.yml
.astro/*.local.yaml
**/.astro/dbt_metadata.json
**/.astro/manifest.slim.json
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
logs/

data/

.idea/
.vscode/
.DS_Store
Thumbs.db

*.docx
.~lock*
aws-files/